<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.dvorakcmd-qwertyprogrammerpl</string>
	<key>CFBundleName</key>
	<string>dvorak cmd-qwerty programmer pl</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Dvorak QW ⌘ pro pl</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.dvorakcmd-qwertyprogrammerpl.dvorakqw⌘propl</string>
		<key>TISIntendedLanguage</key>
		<string>pl</string>
	</dict>
</dict>
</plist>
